.accessories-main-div {
    margin: 0 auto;
    width: 75vw;
    text-align: center;
}

.accessoriesLink {
    text-decoration: none;
}

.accessories-header {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0;
}

 /* top right bottom left */

.anAccessory {
    display: inline-block;
    margin: 10px;
    max-width: 30vw;
    vertical-align: top;
}

.accessoriesTitle {
    margin: 0;
    font-weight: bold;
    font-size: 1.5vw;
}

.accessoriesIMG {
    max-width: 30vw;
}

@media (max-width: 1080px) {
    .accessories-header { font-size: 4vw; }
    .accessoriesTitle { font-size: 2vw; }
}

@media (max-width: 580px) {
    .accessories-header { font-size: 6vw; }
    .accessoriesTitle { font-size: 4.5vw; }
    .anAccessor { max-width: 60vw; }
    .accessoriesIMG { max-width: 60vw; }
}