.footerArea {
    background-color: black;
    color: white;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0; left: 0;
    overflow-x: hidden;
}

.footerText {
    margin: 0 10px;
    font-size: 1vw;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.footerLine {
    margin: 0;
}

@media (max-width: 1080px) {
    .footerText { font-size: 1.5vw; }
}

@media (max-width: 580px) {
    .footerText { font-size: 2vw; }
}