.main-div {
    margin: 0 auto;
    width: 75vw;
    text-align: center;
}

.itemLink {
    text-decoration: none;
}

.catHeader {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0;
}

 /* top right bottom left */

.anItem {
    display: inline-block;
    margin: 10px;
    max-width: 30vw;
    vertical-align: top;
}

.itemTitle {
    margin: 0;
    font-weight: bold;
}

.itemIMG {
    max-width: 30vw;
}

@media (max-width: 1080px) {
    .catHeader { font-size: 4vw; }
    .itemTitle { font-size: 2vw; }
}

@media (max-width: 580px) {
    .catHeader { font-size: 6vw; }
    .itemTitle { font-size: 4.5vw; }
    .anItem { max-width: 60vw; }
    .itemIMG { max-width: 60vw; }
}